
.fontello-play:before { content: '\e800'; } /* '' */
.fontello-pause:before { content: '\e801'; } /* '' */
.fontello-stop:before { content: '\e802'; } /* '' */
.fontello-text:before { content: '\f0f6'; } /* '' */
